FX.CTI.SOA/Test/ClientApp/Service References/TestEmail/EmailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.203:8000/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" />
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" minOccurs="0" name="emailRequest" nillable="true" type="q1:EmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" minOccurs="0" name="SendEmailResult" nillable="true" type="q2:EmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>