LayerDemo/Flight.Provider.Site/DataLayer/Flight.Provider.ProductWS/Service References/PolicyServiceNS/PolicyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Flight.Product.Entity.RequestDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Flight.Product.Entity.RequestDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Flight.Product.Entity" />
  <xs:complexType name="PolicyRemarkApplyRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Flight.Product.Entity" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Operate" type="q1:OperateType" />
          <xs:element minOccurs="0" name="PolicyRemark" nillable="true" type="tns:PolicyRemarkDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyRemarkApplyRequest" nillable="true" type="tns:PolicyRemarkApplyRequest" />
  <xs:complexType name="PolicyRemarkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyRemarkId" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyType" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyRemarkDTO" nillable="true" type="tns:PolicyRemarkDTO" />
  <xs:complexType name="PolicyRemarkSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Flight.Product.Entity" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Paging" nillable="true" type="q2:RequestPaging" />
          <xs:element minOccurs="0" name="PolicyType" type="xs:int" />
          <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyRemarkSearchRequest" nillable="true" type="tns:PolicyRemarkSearchRequest" />
  <xs:complexType name="ArrayOfPolicyRemarkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyRemarkDTO" nillable="true" type="tns:PolicyRemarkDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyRemarkDTO" nillable="true" type="tns:ArrayOfPolicyRemarkDTO" />
</xs:schema>