LayerDemo/Flight.Provider.Site/DataLayer/Flight.Provider.ProductWS/Service References/PolicyServiceNS/PolicyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPolicyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Flight.Product.Entity.RequestDTO" />
      <xsd:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Flight.Product.Entity" />
      <xsd:import schemaLocation="http://localhost:56529/PolicyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Flight.Product.Entity.ResponseDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolicyService_GetString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRemarkApply_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRemarkApply" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRemarkApply_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRemarkApplyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRemarkSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRemarkSearch" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRemarkSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRemarkSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolicyService">
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetString" message="tns:IPolicyService_GetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetStringResponse" message="tns:IPolicyService_GetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PolicyRemarkApply">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/PolicyRemarkApply" message="tns:IPolicyService_PolicyRemarkApply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/PolicyRemarkApplyResponse" message="tns:IPolicyService_PolicyRemarkApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PolicyRemarkSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/PolicyRemarkSearch" message="tns:IPolicyService_PolicyRemarkSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/PolicyRemarkSearchResponse" message="tns:IPolicyService_PolicyRemarkSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPolicyService" type="tns:IPolicyService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPolicyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetString">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRemarkApply">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/PolicyRemarkApply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRemarkSearch">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/PolicyRemarkSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyService">
    <wsdl:port name="WSHttpBinding_IPolicyService" binding="tns:WSHttpBinding_IPolicyService">
      <soap12:address location="http://localhost:56529/PolicyService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:56529/PolicyService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>