FX.CTI.SOA/Test/ClientApp/Service References/ServiceReference1/SMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SMSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSRequest" nillable="true" type="tns:SMSRequest" />
  <xs:complexType name="SMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSResponse" nillable="true" type="tns:SMSResponse" />
</xs:schema>