FX.CTI.SOA/Test/ClientApp/Service References/ServiceReference1/SMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.203:8000/SMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" />
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" minOccurs="0" name="smsRequest" nillable="true" type="q1:SMSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FX.CTI.Entity.DTO" minOccurs="0" name="SendSMSResult" nillable="true" type="q2:SMSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>